$primary-color: #0055d4;
$second-color: #ffffff;
$third-color: #cccccc;
$app-background-color: #d4eafd;
$focus-border-color: #8dc1f2;
$text-color: #333333;
$background-color: #f7f7f7;
$button-color: #0055d4;
$black-color: #000000;

$card-shadow: rgba(135, 206, 250, 0.3);
$card-bg-shadow: rgba(0, 0, 0, 0.4);
$form-light-shadow: rgba(0, 0, 0, 0.1);
$form-dark-shadow: rgba(0, 0, 0, 0.2);
$button-shadow: rgba(0, 85, 212, 0.2);
